page-categories-retrieval {
.lawyerPhoto{
    width: 25%;
    float: left;
}

.lawyerName{
    margin-top: 8%;
    font-size: 19px;
    font-weight: bold;
    margin-left: 28%;
}

.lawyerRate{
    margin-left: 28%;
}
}
