<ion-header>
  <ion-navbar color="ourColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Etrafe3ly</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 style="text-align:center;">Top rated lawyers</h3>
  <button ion-button *ngIf="this.loggedIn" (click)='goToProfile()'>profile</button>
  <button ion-button *ngIf="this.loggedIn" (click)='logoutUser()'>Logout</button>
  <button ion-button *ngIf="this.loggedIn" (click)='goToUserProfile()'>user Profile</button>
</ion-content>
