page-login {
    .my-label {
        font-size: 19px;
        text-align: center;
        margin-top: 68%;
      }

    .myBtn{
        border-radius: 10px;
        width:50%;
        font-size: 16px;
        border-radius: 25px;
    }
}
