page-lawyer-profile {

    .profilePhoto{
        float:left;
        width:30%;
    }
    
    .name{
        font-size:20px;
        float: left;
        margin-top: 11%;
        margin-left: 3%;
        font-weight: bold;
    }
}
