
<ion-card>
        <ion-item>
                <fieldset class="rating">
                    <ng-container *ngFor='let num of [5,4,3,2,1]'>
                        <!--full star-->
                        <input (click)='starHandler(num)'
                                [id]='"star"+num'
                                [value]="num"
                                name='rating'
                                type="radio"
                        />
                        <label class="full" [for]='"star"+num'></label>
                        
                        <input (click)='starHandler(num - 0.5)'
                                [id]='"halfstar"+num'
                                [value]="num - 0.5"
                                name='rating'
                                type="radio"
                        />
                        <label class="half" [for]='"halfstar"+num'></label>
            
                    </ng-container>
                </fieldset>
                
            </ion-item>
            <ion-item>
                <ion-textarea  placeholder="Leave a comment"  [(ngModel)]="this.rateService.comment" style="height:80px"></ion-textarea>
            </ion-item>
            <button ion-button (click)='Rate()'>Rate</button>
</ion-card>